* {
font-family:"Lucida Console", Monaco, monospace!important;
-o-transition-property:none!important;
-moz-transition-property:none!important;
-ms-transition-property:none!important;
-webkit-transition-property:none!important;
transition-property:none!important;
-o-transform:none!important;
-moz-transform:none!important;
-ms-transform:none!important;
-webkit-transform:none!important;
transform:none!important;
-webkit-animation:none!important;
-moz-animation:none!important;
-o-animation:none!important;
-ms-animation:none!important;
animation:none!important;
}

body {
background-image:none;
background-color:#000;
}

body body,#better table .rowa,#inbox #messageform table .rowa,#log_table .rowa,#rules table .rowa,#top10 .torrent_table .rowa,#torrents .vote_matches_table .rowa,#upload #dnulist .rowa,#userhistory table:not(.forum_post):not(.users_reports_table) .rowa,.collage_table .rowa,.forum_list.border .rowa,.request_table .rowa,.torrent_table .rowa,.users_reports_table .rowa,.wiki_log_table .rowa,table.staff .rowa,#better table td,#inbox #messageform table td,#log_table td,#rules table td,#torrents .vote_matches_table td,#upload #dnulist td,#userhistory table:not(.forum_post):not(.users_reports_table) td,.collage_table td,.forum_list.border td,.request_table td,.users_reports_table td,.wiki_log_table td,table.staff td,#content,table.forum_post,#artist .edit_form,#artist_information,#changelog .changelog_entry,#collage .create_form,#edit_collage,#filter_form,#friends .friends_table,#inbox #searchbox,#questions .box2,#reportform,#reports .box,#similar_artist_map,#staff .box,#torrents .edit_form,#torrents .torrent_description,#upload #content > div,#user .edit_form:not(#userform),.inbox_message,.sidebar .box,.users_reports_table,.vertical_space.box,.torrent_table #upload #dnulist tr:not(.colhead):not(.colhead_dark):nth-of-type(2n) td,.torrent_table tr.group_torrent:not(.edition),.torrent_table tr.edition,.main_column table.forum_post,#better table .rowb,#inbox #messageform table .rowb,#log_table .rowb,#rules table .rowb,#top10 .torrent_table .rowb,#torrents .vote_matches_table .rowb,#upload #dnulist .rowb,#userhistory table:not(.forum_post):not(.users_reports_table) .rowb,.collage_table .rowb,.forum_list.border .rowb,.request_table .rowb,.torrent_table .rowb,.users_reports_table .rowb,.wiki_log_table .rowb,table.staff .rowb {
background:transparent;
}

#better table tr.colhead_dark td,#better table tr.colhead td,#inbox #messageform table tr.colhead_dark td,#inbox #messageform table tr.colhead td,#log_table tr.colhead_dark td,#log_table tr.colhead td,#rules table tr.colhead_dark td,#rules table tr.colhead td,#top10 .torrent_table tr.colhead_dark td,#top10 .torrent_table tr.colhead td,#torrents .vote_matches_table tr.colhead_dark td,#torrents .vote_matches_table tr.colhead td,#upload #dnulist tr.colhead_dark td,#upload #dnulist tr.colhead td,#userhistory table:not(.forum_post):not(.users_reports_table) tr.colhead_dark td,#userhistory table:not(.forum_post):not(.users_reports_table) tr.colhead td,.collage_table tr.colhead_dark td,.collage_table tr.colhead td,.forum_list.border tr.colhead_dark td,.forum_list.border tr.colhead td,.request_table tr.colhead_dark td,.request_table tr.colhead td,.torrent_table tr.colhead_dark td,.torrent_table tr.colhead td,.users_reports_table tr.colhead_dark td,.users_reports_table tr.colhead td,.wiki_log_table tr.colhead_dark td,.wiki_log_table tr.colhead td,table.staff tr.colhead_dark td,table.staff tr.colhead td,#rules .rules li .rule_short,#rules div ul li > strong,.autocomplete-suggestions strong,#userform .sidebar #settings_sections a:hover,#rules h4 a:hover,#rules h5 a:hover,#torrents table:not(.forum_post) .colhead_dark a:hover,.colhead a:hover,.sidebar .colhead_dark a:hover,.sidebar .head a:hover {
color:#669;
}

.inbox_message .head,.vertical_space.box .head,table.forum_post .colhead_dark td,.forum_post.forum_unread .colhead_dark td,.forum_post.sticky_post .colhead_dark td,#forums div.box.thin.clear .colhead_dark {
color:#cecece;
}

#forums div.box.thin.clear .colhead_dark {
background-color:#373737;
border:#b0b0b0;
}

.torrent_table tr.group,.torrent_table tr.torrent,#top10 .torrent_table td,.request_table tr:not(.colhead):not(.colhead_dark):nth-of-type(2n) td {
background:#040404;
}

.inbox_message .head,.vertical_space.box .head,table.forum_post .colhead_dark td,.forum_post.sticky_post .colhead_dark td,#artist_information .colhead,#artist_information .head,#similar_artist_map .colhead,#similar_artist_map .head,#torrents .torrent_description .colhead,#torrents .torrent_description .head {
background:#222;
}

.forum_post.forum_unread .colhead_dark td {
background:#004a2c;
}

.torrent_table tr.edition td {
color:#9F0!important;
}

.tl_notice {
color:#F90!important;
}

#content,.inbox_message .head,.vertical_space.box .head,table.forum_post .colhead_dark td {
border:0;
}

#rules h4,#rules h5,#torrents table:not(.forum_post) .colhead_dark,.sidebar .colhead_dark,.sidebar .head,.forum_index tr.colhead td,table.forum_list tr.colhead td,#forums .search_form .cat_list td.forum_cat strong,#userform td:not(.label) > strong,.donation_info_title,h3,h2,.header h2 a {
color:#696969;
}

.noty_buttons a,a {
color:#789;
}

.quoteheader,.noty_buttons a:hover,#userinfo_minor:hover li:hover a {
color:#CCC;
}

ul.collage_images img:hover {
-webkit-box-shadow:0 0 3px #669;
}

.nctm:before,.nctm:after {
animation:none!important;
}

.torrent_links_block a,.torrent_table .group_torrent > td > span a,.torrent_table span a {
color:#06F!important;
}

.torrent_table span a:hover,.torrent_table .group_torrent > td > span a:hover,.torrent_links_block a:hover {
color:#099!important;
}

.tags a:hover {
background:rgba(0,0,0,.3);
color:#b9b9d0;
}

a:hover {
color:#b9b9d0;
}

#menu ul li a::after {
display:none;
}

.torrent_table .discog span > a:hover,.torrent_table .discog strong > a:hover,.torrent_table .group_info > a:hover,.head,h2 a,h3 a,.header h2 a:hover,.forum_index a:hover {
color:#99F;
}
